#app>div{
	display: flex;
	flex-direction: row;
}

body {
	background-color: #f5f5f5;
}

form {
	border-radius: 3px;
}

h1 {
	color: navy;
}

.topics {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.topics div{

}

.topicList {
	list-style: none;
	color: black;
  padding: 0;
}



.topicList li div{
	min-height: 50px;
	width: 200px;
	border: solid 1px;
	background: #ccccff;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.topicList li div span {
	font-size: 32px;
	font-weight: bold;
}

.note-view {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.note-view textarea {
	min-height: 300px;
}

 button {
	 background: #77ff77;
	 padding: 5px;
	 border: none;
 }
